.intro{
	position:absolute;
    left: 30%;
    top: 26%;
}

.name{
	font-style:bold;
	font-weight:50%;
	color:white;
	font-size: xxx-large;

}
.HW{
	text-align: center;
	color:white;
    display: block;
	font: small-caption;
}

.pic{
	border-radius:50%;
    margin-left: 5%;
    margin-top: 10%;
    border-style: ridge;
	border-color: white;
}

.links{
  
	margin-top: -5%;
    margin-left: 80%;

}

.sololearn{
	border-radius:50%;
	cursor:pointer;
}

.github{
	border-radius:50%;
	cursor:pointer;
}

.twitter{
	border-radius:50%;
	cursor:pointer;
}

.codechef{
	border-radius:50%;
	cursor:pointer;
}
.linkdin{
	border-radius:50%;
	cursor:pointer;
}
.hackerRank{
	border-radius:50%;
	cursor:pointer;
}

@media(max-width:998px){

	html{
		font-size:55%;
	}
}


@media(max-width:768px){

	html{
		font-size:45%;
	}
}
.html{
	font-size:98%;
}